@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);

/* reset */
body {
  font-size: 15px;
  line-height: 1.65em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


h1, h2, h3, h4, h5 {
  margin-top: 0px;
  font-size: 100%;
}

@media (min-width: 992px) {
  header {
    margin-top: 3em;
    margin-bottom: 3em;
  }

  #infobar {
    margin-top: 3em;
  }
}

header h1 {
  font-size: 38px;
}

header h1 a {
  color: #333;
}

header h1 a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-size: 18px;
  font-weight: 700;
}

p {
  text-align: justify;
}

#infobar {
  line-height: 1.5em;
  font-size: 14px;
  color: #555;
}

#infobar p {
  margin-bottom: 1.2em;
}

#infobar .fa-ul {
  margin-left: 1.65em;
}

#infobar .fa-li {
  top: 0.36em;
}

#infobar .photo {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 20px;
}

footer {
  margin-top: 1.65em;
  margin-top: 1.65em;
  color: #999;
  text-align: right;
}

@media (max-width: 992px) {
  #infobar {
    padding-top: 1.65em;
    border-top: 1px solid #999;
  }
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

ul.posts li .date {
  display: inline-block;
  width: 6.3em;
  text-align: right;
  margin-right: 0.5em;
}

.date {
  text-transform: uppercase;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

article aside {
  line-height: 125%;
  font-size: small;
  font-style: italic;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.gist {
  line-height: 1.42857143;
  font-size: .9em;
}

/* responsive */

@media (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}

@media (min-width: 1200px) {
  article aside {
    position: absolute;
    left: -19%;
    width: 17%;
    top: 5px;
  }

  article .with-aside {
    position: relative;
  }

  article .with-aside aside {
  }
}

