/* reset */
body {
  font-size: 14px;
  line-height: 1.65em;
}

h1, h2, h3, h4, h5 {
  margin-top: 0px;
  font-size: 100%;
}

@media (min-width: 992px) {
  header {
    margin-top: 3em;
    margin-bottom: 3em;
  }
}

header h1 {
  font-size: 38px;
}

h1, h2, h3, h4, h5 {
  font-size: 18px;
}

p {
  text-align: justify;
}

#infobar {
  line-height: 1.4em;
  color: #555;
}

#infobar p {
  margin-bottom: 1.2em;
}

#infobar .fa-ul {
  margin-left: 1.65em;
}

footer {
  margin-top: 1.65em;
  margin-top: 1.65em;
  color: #999;
  text-align: right;
}

@media (max-width: 992px) {
  #infobar {
    padding-top: 1.65em;
    border-top: 1px solid #999;
  }
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

ul.posts li .date {
  text-transform: uppercase;
  margin-right: 0.5em;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/* responsive */

@media (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}

