<aside id="infobar">
  <img class="photo" src="/images/photo.png">

  <h4>About me</h4>
  <p>
  I run a software consultancy that focuses on making South Africa better.
  </p>
  <p>
  I believe in customer focus, quick iterations, and making data-driven decisions.
  </p>

  <ul class='fa-ul'>
    <li>
      <i class='fa-li fa fa-map-marker'></i>
      Cape Town, South Africa
    </li>
  </ul>

  <ul class='fa-ul'>
    <li>
      <i class='fa-li fa fa-envelope'></i>
      <a href='mailto:greg@kempe.net'>
        greg@kempe.net
      </a>
    </li>
  </ul>
  <ul class='fa-ul'>
    <li>
      <i class='fa-li fa fa-twitter'></i>
      <a href='https://twitter.com/longhotsummer'>
        @longhotsummer
      </a>
    </li>
    <li>
      <i class='fa-li fa fa-github'></i>
      <a href='https://github.com/longhotsummer'>
        github.com/longhotsummer
      </a>
    </li>
    <li>
      <i class='fa-li fa fa-linkedin-square'></i>
      <a href='http://www.linkedin.com/in/gregkempe'>
        linkedin.com/in/gregkempe
      </a>
    </li>
  </ul>
  <ul class='fa-ul'>
    <li>
      <i class='fa-li fa fa-rss'></i>
      <a href="/atom.xml">Subscribe</a>
    </li>
  </ul>
</aside>
