---
layout: default
---
<article class="post">
  <h2>{{ page.title }}</h2>
  <p class="date">{{ page.date | date_to_string }}</p>

  <section class="body">
    {{ content }}
  </section>

  <section id="disqus_thread" class="hidden-xs">
    <script type="text/javascript">
      var disqus_shortname = 'longhotsummer';
      var disqus_disable_mobile = true;
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </section>
</article>
